<div>

  <form>

    <div class="form-group"><label for="upload">Fichier</label>
      <input id="upload" type="file" (change)="changeListener($event)"/>
    </div>

  </form>
</div>

<button (click)="downloadfile()">Télécharger</button>
